<div class="pt-5 flex justify-center gap-5 text-amber-900">
    <a href="#"><%= link_to( 'Articles', articles_path) %></a>
    <p class=""><%= link_to( 'New Article', new_article_path) %></p>
    <a href="#dashboard" class="">Dashboard</a>
</div>